@media (min-width: 1024px) {

    .ox {
        display: unset;
      }

    .nav-li p,
    .nav-li .socials-ul {
      display: unset;
    }

      .about-content {

  flex-direction: unset;
}

.gallery-flex {

  flex-direction: unset;


}

      .service-container {

        flex-direction: unset;
      
    }
}